@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-principal: #1d0b01;
    --cor-secundaria: #fceec9;
    --cor-destaque: #8f0b0b;
}

body {
    margin-top: 10px;
    font-family: "Comic Relief", system-ui;
    background-color: var(--cor-secundaria);
}

h1, h2, h5 {
    color: var(--cor-principal);
    font-weight: 700;
}
.lead {
    color: var(--cor-destaque);
}
.badge{
    background-color: var(--cor-destaque);
}
.descricao {
    font-size: 20px;
}

.card {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    border-color: var(--cor-destaque);
}
.btn {
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
    color: var(--cor-destaque);
}
.btn:hover {
    color: var(--cor-principal);
}
hr {
    color: var(--cor-destaque);
}

.modal-content {
    background-color: var(--cor-secundaria);
}
.modal-content a {
    padding-left: 40px;
    font-style: italic;
    color: var(--cor-principal);
}
.modal-content a:hover {
    color: var(--cor-destaque)
}


footer {
    margin-top: 20px;
}
footer a {
    color: var(--cor-principal);
    text-decoration: none;
}
footer a:hover {
    color: var(--cor-destaque);
}
